node_modules
!translate-lessons-distrib/app/node_modules

.vscode

sources
export
config.json
sample-doc

.tmp/*

strings.db

translate-lessons-distrib/app/strings/*.json
translate-lessons-distrib/app/strings/translations/*.json
translate-lessons-distrib/app/params.json

translations/*.json
translations/imported/*.json

# LibreOffice lockfiles
.~lock*