node_modules
.vscode

sources
config.json
sample-doc

.tmp/*

strings.db

translate-lessons-distrib/app/strings/*.json
translate-lessons-distrib/app/strings/translations/*.json
translate-lessons-distrib/app/params.json

# LibreOffice lockfiles
.~lock*